<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
        		<li><a href="/milestones">Milestones</a></li>
			<li><a href="https://docs.google.com/spreadsheets/d/1AMSRUxqNQXduZuUFvylHf8e23wxU0R-EL5Sza-A4Jqs/edit?usp=sharing">Grading Rubric</a></li>
    		</ul>
		</nav>
		<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:pchonmany@g.harvard.edu">email</a></li>
        		<li><a href="https://pathana.github.io">pathana.github.io</a></li>
			</ul>
		</footer>
	</body>
</html>
